.App {
  text-align: center;
  display: block;
}

.App-header {
  background-color: #0a2240;
  min-height: 15vh;
  font-size: calc(15px + 2vmin);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header-logo {
  margin-left: 1.5rem;

}

.App-header-toggler {
  margin-right: 1.5rem;
}

.Graph {
  display: flex;
  justify-content: center;
}